<header class="dashboard-header">
    <div class="dashboard-title">
        <h1>Blog Dashboard</h1>
    </div>
    <nav class="dashboard-nav">
        <ul>
            <li><a href="/add-post">Add New Post</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
</header>

<main class="dashboard-main">
    <!-- CREATED SECTION -->
    <section class="dashboard-section">
        <div class="dashboard-title">
            <h2>Manage Posts</h2>
        </div>
        <div class="dashboard-content">
            <% if (pageNum > 0) { %>
                <a href="?page=<%= pageNum - 1 %>&deletedPage=<%= deletedPageNum %>" class="pagination">
                    &lt; View Recent Posts
                </a>
            <% } %>

            <ul class="dashboard-post-ul">
                <% posts.forEach(post => { %>
                    <li>
                        <a href="post/<%= post._id %>">
                            <span><%= post.title %></span>
                            <span class="article-date"><%= post.createdAt.toDateString() %></span>
                        </a>

                        <div class="dashboard-post-controls">
                            <a href="edit-post/<%= post._id %>" class="btn btn-edit">Edit</a>
                            <form class="" action="delete-post/<%= post._id %>?_method=PUT" method="post">
                                <input type="submit" value="Delete" class="btn btn-delete">
                            </form>
                        </div>
                    </li>
                <% }) %>
            </ul>

            <% if (hasNextPage) { %>
                <a href="?page=<%= pageNum + 1 %>&deletedPage=<%= deletedPageNum %>" class="pagination">
                    View Older Posts &gt;
                </a>
            <% } %>
        </div>
    </section>

    <!-- DELETED SECTION -->
    <section class="dashboard-section">
        <div class="dashboard-title">
            <h2>Manage Deleted Posts</h2>
        </div>
        <div class="dashboard-content">
            <% if (deletedPageNum > 0) { %>
                <a href="?page=<%= pageNum %>&deletedPage=<%= deletedPageNum - 1 %>" class="pagination">
                    &lt; View Recent Deleted Posts
                </a>
            <% } %>

            <ul class="dashboard-post-ul">
                <% deletedPosts.forEach(post => { %>
                    <li>
                        <a href="post/<%= post._id %>">
                            <span><%= post.title %></span>
                            <span class="article-date"><%= post.createdAt.toDateString() %></span>
                        </a>

                        <div class="dashboard-post-controls">
                            <a href="edit-post/<%= post._id %>" class="btn btn-edit">Edit</a>
                            <form class="" action="restore-post/<%= post._id %>?_method=PUT" method="post">
                                <input type="submit" value="Restore" class="btn btn-restore">
                            </form>
                        </div>
                    </li>
                <% }) %>
            </ul>

            <% if (hasNextDeletedPage) { %>
                <a href="?page=<%= pageNum %>&deletedPage=<%= deletedPageNum + 1 %>" class="pagination">
                    &lt; View Older Deleted Posts
                </a>
            <% } %>
        </div>
    </section>
</main>
