<div class="admin__title">
    <h2>Manage Posts</h2>
    <a href="/add-post" class="btn">+ Add New</a>
</div>

<section class="admin__posts">

    <% if (pageNum > 0) { %>
        <a href="?page=<%= pageNum - 1 %>&deletedPage=<%= deletedPageNum %>" class="pagination">
            &lt; View Recent Posts
        </a>
    <% } %>

    <ul class="admin__posts__ul">
        <% posts.forEach(post => { %>
            <li>
                <a href="post/<%= post._id %>">
                    <span><%= post.title %></span>
                    <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
                </a>

                <div class="admin__post__controls">
                    <a href="edit-post/<%= post._id %>" class="btn">Edit</a>
                    <form class="" action="delete-post/<%= post._id %>?_method=DELETE" method="post">
                        <input type="submit" value="Delete" class="btn">
                    </form>
                </div>
            </li>
        <% }) %>
    </ul>

    <% if (hasNextPage) { %>
        <a href="?page=<%= pageNum + 1 %>&deletedPage=<%= deletedPageNum %>" class="pagination">
            &lt; View Older Posts
        </a>
    <% } %>

</section>

<div class="admin__title">
    <h2>Manage Deleted Posts</h2>
</div>

<section class="admin__posts">

    <% if (deletedPageNum > 0) { %>
        <a href="?page=<%= pageNum %>&deletedPage=<%= deletedPageNum - 1 %>" class="pagination">
            &lt; View Recent Deleted Posts
        </a>
    <% } %>

    <ul class="admin__posts__ul">
        <% deletedPosts.forEach(post => { %>
            <li>
                <a href="post/<%= post._id %>">
                    <span><%= post.title %></span>
                    <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
                </a>

                <div class="admin__post__controls">
                    <a href="edit-post/<%= post._id %>" class="btn">Edit</a>
                    <form class="" action="restore-post/<%= post._id %>?_method=PUT" method="post">
                        <input type="submit" value="Restore" class="btn">
                    </form>
                </div>
            </li>
        <% }) %>
    </ul>

    <% if (hasNextDeletedPage) { %>
        <a href="?page=<%= pageNum %>&deletedPage=<%= deletedPageNum + 1 %>" class="pagination">
            &lt; View Older Deleted Posts
        </a>
    <% } %>

</section>
