<div class="dashboard-title">
    <h2>Manage Posts</h2>
</div>
<div class="dashboard-content">
    <% if (pageNum > 0) { %>
        <a href="?page=<%= pageNum - 1 %>&deletedPage=<%= deletedPageNum %>" class="pagination">
            &lt; View Recent Posts
        </a>
    <% } %>

    <ul class="dashboard-post-ul">
        <% posts.forEach(post => { %>
            <li>
                <div class="dashboard-post-info">
                    <a href="post/<%= post._id %>">
                        <span><%= post.title %></span>
                        <span class="article-date"><%= post.createdAt.toDateString() %></span>
                    </a>
                </div>

                <div class="dashboard-post-controls">
                    <form action="edit-post/<%= post._id %>" method="get">
                        <button type="submit" class="btn btn-edit">
                    </form>
                    <form class="" action="delete-post/<%= post._id %>?_method=PUT" method="post">
                        <button type="submit" class="btn btn-delete"></button>
                    </form>
                </div>
            </li>
        <% }) %>
    </ul>

    <% if (hasNextPage) { %>
        <a href="?page=<%= pageNum + 1 %>&deletedPage=<%= deletedPageNum %>" class="pagination">
            View Older Posts &gt;
        </a>
    <% } %>
</div>
