<div class="dashboard-content">

    <div class="dashboard-title">
        <h2>Manage Deleted Posts</h2>
    </div>

    <ul class="dashboard-post-ul">
        <% deletedPostsData.posts.forEach(post => { %>
            <li>
                <div class="dashboard-post-info">
                    <a href="post/<%= post._id %>">
                        <span><%= post.title %></span>
                        <span class="article-date"><%= post.createdAt.toDateString() %></span>
                    </a>
                </div>

                <div class="dashboard-post-controls">
                    <form action="edit-post/<%= post._id %>" method="get">
                        <button type="submit" class="icon-btn edit-icon-btn">
                    </form>
                    <form action="restore-post/<%= post._id %>?_method=PUT" method="post">
                        <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
                        <button type="submit" class="icon-btn restore-icon-btn">
                    </form>
                </div>
            </li>
        <% }) %>
    </ul>

    <div class="pagination-controls">
        <ul class="pagination-list">
            <% if (deletedPostsData.pageNum > 1) { %>
                <li>
                    <a href="?deletedPage=<%= deletedPostsData.pageNum - 1 %>" class="pagination-link">&lt;</a>
                </li>
            <% } %>
            <% for (let i = 1; i <= deletedPostsData.totalPages; i++) { %>
                <li>
                    <a href="?deletedPage=<%= i %> %>" class="pagination-link <%= i === deletedPostsData.pageNum ? 'active' : '' %>"><%= i %></a>
                </li>
            <% } %>
            <% if (deletedPostsData.pageNum < deletedPostsData.totalPages) { %>
                <li>
                    <a href="?deletedPage=<%= deletedPostsData.pageNum + 1 %> %>" class="pagination-link">&gt;</a>
                </li>
            <% } %>
        </ul>
    </div>

</div>
