<div class="dashboard-title">
    <h2>Manage Deleted Posts</h2>
</div>
<div class="dashboard-content">
    <% if (deletedPageNum > 0) { %>
        <a href="?page=<%= pageNum %>&deletedPage=<%= deletedPageNum - 1 %>" class="pagination">
            &lt; View Recent Deleted Posts
        </a>
    <% } %>

    <ul class="dashboard-post-ul">
        <% deletedPosts.forEach(post => { %>
            <li>
                <div class="dashboard-post-info">
                    <a href="post/<%= post._id %>">
                        <span><%= post.title %></span>
                        <span class="article-date"><%= post.createdAt.toDateString() %></span>
                    </a>
                </div>

                <div class="dashboard-post-controls">
                    <form action="edit-post/<%= post._id %>" method="get">
                        <button type="submit" class="btn btn-edit">
                    </form>
                    <form action="restore-post/<%= post._id %>?_method=PUT" method="post">
                        <button type="submit" class="btn btn-restore">
                    </form>
                </div>
            </li>
        <% }) %>
    </ul>

    <% if (hasNextDeletedPage) { %>
        <a href="?page=<%= pageNum %>&deletedPage=<%= deletedPageNum + 1 %>" class="pagination">
            &lt; View Older Deleted Posts
        </a>
    <% } %>
</div>
